# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/

# Poetry
poetry.lock

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Test
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# Cache
.mypy_cache/
.ruff_cache/